@section styles {
    <link rel="stylesheet" href="~/css/sim.css" />
}
@{
    ViewData["Title"] = "Sim";
    var sim = ViewBag.Sim;
}

<a href="/Home/SimList">Back</a>

<h1>@sim.FirstName @sim.LastName</h1>

@if (!String.IsNullOrEmpty(sim.Image))
{
    <img src="data:image/png;base64, @sim.Image" />
}

<table>
    <tr><td>Hood</td><td>@sim.Hood</td></tr>
    <tr><td>HoodName</td><td>@sim.HoodName</td></tr>
    <tr><td>NID</td><td>@sim.SimId</td></tr>
    <tr><td>FirstName</td><td><span class="bold">@sim.FirstName</span></td></tr>
    <tr><td>LastName</td><td><span class="bold">@sim.LastName</span></td></tr>
    <tr><td>SimDescription</td><td>@sim.SimDescription</td></tr>
    <tr><td>FamilyInstance</td><td>@sim.FamilyInstance</td></tr>
    <tr><td>HouseholdName</td><td>@sim.HouseholdName</td></tr>
    <tr><td>HouseNumber</td><td>@sim.HouseNumber</td></tr>
    <tr><td>AvailableCharacterData</td><td>@sim.AvailableCharacterData</td></tr>
    <tr><td>Unlinked</td><td>@sim.Unlinked</td></tr>
    <tr><td>ParentA</td><td>@sim.ParentA.FullName</td></tr>
    <tr><td>ParentB</td><td>@sim.ParentB.FullName</td></tr>
    <tr><td>Spouse</td><td>@sim.Spouse.FullName</td></tr>
    <tr><td>BodyType</td><td>@sim.BodyType</td></tr>
    <tr><td>NPCType</td><td>@sim.NPCType</td></tr>
    <tr><td>SchoolType</td><td>@sim.SchoolType</td></tr>
    <tr><td>Grade</td><td>@sim.Grade</td></tr>
    <tr><td>CareerPerformance</td><td>@sim.CareerPerformance</td></tr>
    <tr><td>Career</td><td>@sim.Career</td></tr>
    <tr><td>CareerLevel</td><td>@sim.CareerLevel</td></tr>
    <tr><td>ZodiacSign</td><td>@sim.ZodiacSign</td></tr>
    <tr><td>Aspiration</td><td>@sim.Aspiration</td></tr>
    <tr><td>Gender</td><td>@sim.Gender</td></tr>
    <tr><td>LifeSection</td><td>@sim.LifeSection</td></tr>
    <tr><td>AgeDaysLeft</td><td>@sim.AgeDaysLeft</td></tr>
    <tr><td>PrevAgeDays</td><td>@sim.PrevAgeDays</td></tr>
    <tr><td>AgeDuration</td><td>@sim.AgeDuration</td></tr>
    <tr><td>BlizLifelinePoints</td><td>@sim.BlizLifelinePoints</td></tr>
    <tr><td>LifelinePoints</td><td>@sim.LifelinePoints</td></tr>
    <tr><td>LifelineScore</td><td>@sim.LifelineScore</td></tr>
    <tr><td>GenActive</td><td>@sim.GenActive</td></tr>
    <tr><td>GenNeat</td><td>@sim.GenNeat</td></tr>
    <tr><td>GenNice</td><td>@sim.GenNice</td></tr>
    <tr><td>GenOutgoing</td><td>@sim.GenOutgoing</td></tr>
    <tr><td>GenPlayful</td><td>@sim.GenPlayful</td></tr>
    <tr><td>Active</td><td>@sim.Active</td></tr>
    <tr><td>Neat</td><td>@sim.Neat</td></tr>
    <tr><td>Nice</td><td>@sim.Nice</td></tr>
    <tr><td>Outgoing</td><td>@sim.Outgoing</td></tr>
    <tr><td>Playful</td><td>@sim.Playful</td></tr>
    <tr><td>Animals</td><td>@sim.Animals</td></tr>
    <tr><td>Crime</td><td>@sim.Crime</td></tr>
    <tr><td>Culture</td><td>@sim.Culture</td></tr>
    <tr><td>Entertainment</td><td>@sim.Entertainment</td></tr>
    <tr><td>Environment</td><td>@sim.Environment</td></tr>
    <tr><td>Fashion</td><td>@sim.Fashion</td></tr>
    <tr><td>FemalePreference</td><td>@sim.FemalePreference</td></tr>
    <tr><td>Food</td><td>@sim.Food</td></tr>
    <tr><td>Health</td><td>@sim.Health</td></tr>
    <tr><td>MalePreference</td><td>@sim.MalePreference</td></tr>
    <tr><td>Money</td><td>@sim.Money</td></tr>
    <tr><td>Paranormal</td><td>@sim.Paranormal</td></tr>
    <tr><td>Politics</td><td>@sim.Politics</td></tr>
    <tr><td>School</td><td>@sim.School</td></tr>
    <tr><td>Scifi</td><td>@sim.Scifi</td></tr>
    <tr><td>Sport</td><td>@sim.Sport</td></tr>
    <tr><td>Toys</td><td>@sim.Toys</td></tr>
    <tr><td>Travel</td><td>@sim.Travel</td></tr>
    <tr><td>Weather</td><td>@sim.Weather</td></tr>
    <tr><td>Work</td><td>@sim.Work</td></tr>
    <tr><td>Body</td><td>@sim.Body</td></tr>
    <tr><td>Charisma</td><td>@sim.Charisma</td></tr>
    <tr><td>Cleaning</td><td>@sim.Cleaning</td></tr>
    <tr><td>Cooking</td><td>@sim.Cooking</td></tr>
    <tr><td>Creativity</td><td>@sim.Creativity</td></tr>
    <tr><td>Fatness</td><td>@sim.Fatness</td></tr>
    <tr><td>Logic</td><td>@sim.Logic</td></tr>
    <tr><td>Mechanical</td><td>@sim.Mechanical</td></tr>
    <tr><td>Romance</td><td>@sim.Romance</td></tr>
    <tr><td>IsAtUniversity</td><td>@sim.IsAtUniversity</td></tr>
    <tr><td>UniEffort</td><td>@sim.UniEffort</td></tr>
    <tr><td>UniGrade</td><td>@sim.UniGrade</td></tr>
    <tr><td>UniTime</td><td>@sim.UniTime</td></tr>
    <tr><td>UniSemester</td><td>@sim.UniSemester</td></tr>
    <tr><td>UniInfluence</td><td>@sim.UniInfluence</td></tr>
    <tr><td>UniMajor</td><td>@sim.UniMajor</td></tr>
    <tr><td>Species</td><td>@sim.Species</td></tr>
    <tr><td>Salary</td><td>@sim.Salary</td></tr>
    <tr><td>PrimaryAspiration</td><td>@sim.PrimaryAspiration</td></tr>
    <tr><td>SecondaryAspiration</td><td>@sim.SecondaryAspiration</td></tr>
    <tr><td>HobbyPredestined</td><td>@sim.HobbyPredestined</td></tr>
    <tr><td>LifetimeWant</td><td>@sim.LifetimeWant</td></tr>
</table>

<form id="form1">

    <div class="tree" id="FamilyTreeDiv">

        <ul>

            <li>
                <div>
                    <span class="female">
                        @sim.FullName
                    </span><span class="spacer"></span><span class="male">
                        Jim Snow
                        1633 - 1697
                    </span>
                </div>


                <ul>

                    <li>

                        <div>
                            <span class="male">
                                Sam Snow
                                1631 - 1695
                            </span><span class="spacer"></span><span class="female">
                                Lily Sight
                                1633 - 1697
                            </span>
                        </div>


                        <ul>

                            <li>
                                <div>
                                    <span class="male">
                                        Ralf Snow
                                        1651 -
                                    </span>
                                </div>
                            </li>


                            <li>
                                <div>
                                    <span class="female">
                                        Brie Snow
                                        1653 -
                                    </span>
                                </div>
                            </li>

                        </ul>

                    </li>


                    <li>

                        <div>
                            <span class="male">
                                Jim Snow
                                1633 - 1697
                            </span><span class="spacer"></span><span class="female">
                                Zoe Blue
                                1633 - 1697
                            </span>
                        </div>


                        <ul>

                            <li>
                                <div>
                                    <span class="male">
                                        Ralf Snow
                                        1651 -
                                    </span><span class="spacer"></span><span class="female">
                                        Sally Bern
                                        1653 -
                                    </span>
                                </div>


                                <ul>

                                    <li>
                                        <div>
                                            <span class="female">
                                                Magna Snow
                                                1679 -
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </li>


                            <li>
                                <div>
                                    <span class="female">
                                        Brie Snow
                                        1653 -
                                    </span>
                                </div>
                            </li>

                        </ul>

                    </li>


                    <li>
                        <div>
                            <span class="male">
                                John Snow
                                1635 - 1699
                            </span>
                        </div>
                    </li>

                </ul>
            </li>

        </ul>

    </div>

</form>


